/*
    ------------------------
    -------- Hero ----------
    ------------------------
*/

@import '../../styles/app.scss';

.hero{
    transform: translateY(-80px);
    position: relative;
    &__img-container{
        overflow: hidden;
    }

    &__bg-img{
        position: absolute;
        left: 0;
        z-index: var(--z-back);
    }

    &__text-container{
        text-align: center;

        .heading {
            margin-bottom: var(--space-sm);
        }

        p{
            margin-bottom: var(--space-lg);
        }
    }
}