/*
    ------------------------
    ------ Article ---------
    ------------------------
*/

.article{
    a{
        text-decoration: none;
        color: inherit;
    }

    max-width: 327px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-white);
    
    &__text-container{
        padding: var(--space-md) 31px;

        small{display: block;}

        & > *:not(:last-child){
            margin-bottom: var(--space-xs);
        }
    }
}