/*
    ------------------------
    ------ Article ---------
    ------------------------
*/

@import '../../styles/app.scss';

.article{
    max-width: 327px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-white);

    &__img-container{
        overflow: hidden;

        img{
            transition: all ease .2s;
        }
    }

    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    
    &__text-container{
        padding: var(--space-md) 31px;

        small{display: block;}

        & > *:not(:last-child){
            margin-bottom: var(--space-xs);
        }
    }

    @include breakpoint-up(large){
        max-width: 255px;

        &__img-container{
            img{
                height: 200px;
            }
        }

        &__text-container{
            padding: var(--space-md);
        }
    }
}