/*
    ------------------------
    -------- CTA -----------
    ------------------------
*/

.cta{
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: var(--space-lg) var(--space-xs);
}