/*
    ------------------------
    -------- CTA -----------
    ------------------------
*/

.cta{
    background-image: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: var(--space-xs) var(--space-lg);
    border-radius: 22px;
    line-height: 28px;
    max-width: 163px;
    transition: opacity ease .3s;

    &:hover{
        opacity: .7;
    }
    
    &:focus{
        outline: 3px dashed var(--color-bright-cyan);
    }
}