/*
    ------------------------
    -------- CTA -----------
    ------------------------
*/

.cta{
    background-image: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: var(--space-xs) var(--space-lg);
    border-radius: 22px;
    line-height: 28px;
}