/*
    ------------------------
    ------ Features --------
    ------------------------
*/

@import '../../styles/app.scss';

.features{
    text-align: center;
    background: var(--color-bg-section-features);
    padding: var(--space-4xl) 0;

    &__header{
        max-width: 447px;
        margin: 0 auto;
        margin-bottom: var(--space-3xl);
        .heading{
            margin-bottom: var(--space-sm);
        }
    }

    &__list{
        & > *:not(:last-child){
            margin-bottom: var(--space-lg);
        }
    }

    &__item{
        max-width: 300px;
        margin: 0 auto;
    }

    // Desktop
    @include breakpoint-up(large){
        padding: 96px 0;
        text-align: initial;

        &__header{
            max-width: 635px;
            margin: initial;
            margin-bottom: 72px;
        }

        &__list{
            @include flex(sb, c, row);

            & > *:not(:last-child){
                margin-bottom: initial;
            }
        }

        &__item{
            max-width: initial;
            margin: initial;
        }
    }


}