/*
    ------------------------
    ------ Features --------
    ------------------------
*/

.features{
    text-align: center;
    background: var(--color-bg-section-features);
    padding: var(--space-4xl) 0;

    &__header{
        margin-bottom: var(--space-3xl);
    }

    &__list{
        .heading{
            text-transform: capitalize;
            margin-bottom: var(--space-sm);
        }

        & > *:not(:last-child){
            margin-bottom: var(--space-lg);
        }
    }

    &__img-container{
        margin-bottom: var(--space-md);
        img {
            margin: 0 auto;
        }
    }


}