/*
    ------------------------
    -------- Header --------
    ------------------------
*/

@import '../../styles/app.scss';

.header{
    background-color: var(--color-bg-header);
    height: var(--header-height);
    position: relative;
    z-index: var(--z-modal);
}